.datastructureimg
{
    background-image: url("https://i.pinimg.com/originals/46/8d/2f/468d2fc3b5843f3eb20b6d941a742f57.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}