.networkingimg
{
    
    background-image: url("https://i.pinimg.com/originals/a6/21/37/a6213722cfa9b36b637e1f959f5faf0a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}