.db1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 30px;
}
.db2{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-size: 30px;
}
.img{
    background-image: url("https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}