

<strong>Terms and Conditions</strong>
<article> Most countries have privacy laws in place that require websites and mobile apps to have some sort of disclosure (statement) of what personal data is being collected from users.

If your Facebook app will be collecting any personal information from users, such as email addresses, names, etc., you will need a Privacy Policy.

In the US, the California Online Privacy Protection Act, or CalOPPA, dictates that if any personally identifiable information is collected from or about users who live in the state of California through a website or app, that website or app must conspicuously post this legal agreement.

The statement must let the users know about the business data collection and use.

In the EU, both the Data Protection Directive and the ePrivacy Directive work to ensure that users of websites and apps are informed if their personal data is collected and used. Compliance with these Directives can be met by clearly posting an easily understandable Privacy Policy.

You’ll also need to comply with the EU Cookies Directive by placing a separate Cookies Policy to disclose how you use cookies.

Web sites and apps from all over the world are regularly accessed by users from all over other parts of the world. CalOPPA and the EU Directives reach far beyond California and the EU due to the broad nature of the internet and apps nowadays.

Facebook has users in almost all countries, so an app made for Facebook will without a doubt be likely accessed by users in California and the EU, thus triggering the requirement of a Privacy Policy if any personal data is collected through your Facebook app.

However, even if you don’t collect personal data with your Facebook app, you still need to include a link to your Privacy Policy to satisfy the requirements from Facebook.

You can simply say in your Privacy Policy you don’t collect any data, but you will need to satisfy the 4 requirements outlined in the next section.
</article>

<input type="radio" name="" value="accept">I agree<br>
<input type="radio" name="" value="accept"> I do not agree<br>
<a (click)=Terms()></a>
<button (click)="back2()">Submit</button>

