.about{
    color: black;
}
.aboutusimg{
    
        background-image: url("https://mediaserver.goepson.com/ImConvServlet/imconv/ab6b956e0863668f3adcca5683a4c6816908e6b2/original?use=productpictures&assetDescr=001-1400X570");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 640px;
    }
