.network1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:darkviolet;
}
.netw1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;
}
.img{
    background-image: url("http://sslweb.solidstatelogic.com.s3.amazonaws.com/content/c10/C10-multi-console-networking-large.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2040px;

}
