.datastructure1{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    font-size: 30px;
}
.ds1{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 30px;

}
.img{
    background-image: url("https://www.akamai.com/us/en/multimedia/images/intro/2018/big-data-connector-intro.jpg?imwidth=1366");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2140px;

}
