.databaseimg
{
    background-image: url("https://cake.imgix.net/m/4d65tzL0q8L5_1533147773517.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}