.contactusimg{
    background-image: url("https://www.save72.com/assets/uploads/pingo-calling-card-save72-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}