<h1>Contact us</h1>
<article>
<strong> Thank you! We appreciate your interest in Forum Engine </strong> <br> <br>

<i class="fa fa-twitter" style="font-size:24px;color:skyblue"></i><a href="https://twitter.com/" style="color: #cc0000">&nbsp;Twitter</a> <br>
<i class="fa fa-facebook" style="font-size:24px;color:blue"></i><a href="https://facebook.com/" style="color:cyan">&nbsp;facebook</a> <br> 
<i class="fa fa-instagram" style="font-size:24px;color:e4405f"></i><a href="https://instagram.com/" style="color:orange">&nbsp;Instagram</a> <br>  
<i class="fa fa-send-o" style="font-size:12px;color:red"></i> <a href="mailto:hr@forumengine.com">Send mail to </a>&nbsp;&nbsp;<br>
</article>
<h2>Our Locations</h2>
<div class="contactusimg">

</div>

<button (click)="back1()">Back</button>


