
 <div class="bgimg">


<strong><marquee behavior="alternate" direction="left"  width="100%" bgcolor="#FF0000">  Welcome to Forum Engine </marquee></strong>




<div class="navbar">
  <a (click)="aboutus()"><i class="fa fa-exclamation-circle"></i>About us</a>
  
  
  <div class="dropdown">
  <button class="dropbtn"><i class="fa fa-fw fa-home"></i>Home <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
      <a href="signup"><i class="fa fa-user"></i> Signup</a>
      <a href="login"><i class="fa fa-sign-in"></i>Login</a>
	</div>
	</div>
  
  
  <div class="dropdown">
    <button class="dropbtn"><i class="fa-book"></i>Articles 
	  <i class="fa fa-caret-down"></i>
	 
    </button>
    <div class="dropdown-content">
      <a (click)="networking()">Networking</a>
      <a (click)="datastructure()">Data Structures</a>
      <a (click)="AI()">Artificial Inteligence</a>
	  <a (click)="database()">Database</a>
    </div>
	
  </div> 
  <a (click)=Contactus()><i class="fa fa-fw fa-envelope"></i>Contact us</a>
  
  
  
  
</div>

</div>

        